--extra-index-url https://download.pytorch.org/whl/cu118
torch>=2.0.1
torchvision>=0.15.2
addict
future
lmdb
numpy<2
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
tqdm
yapf
lpips
gdown
timm
kornia
einops
prettytable
transformers
accelerate

# Optional/commented dependencies
# cmake
# dlib
# conda install -c conda-forge dlib