--extra-index-url https://download.pytorch.org/whl/cu118
addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=1.7.1
torchvision
tqdm
yapf
lpips
gdown
timm
kornia
einops
prettytable
transformers
accelerate